.Loading-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.Loading-message{
    color :#419fc1 ;
    max-width: 100px;
    text-align: center;
    font-style: italic;
}

.ant-spin-dot-item{
    background-color: #419fc1!important;
}
